body {
  position: relative;
}

header.masthead {
  padding-top: 10.5rem;
  padding-bottom: 6rem;
  text-align: center;
  color: #fff;
  background-image: url("pics/backsplash.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
}
header.masthead .masthead-subheading {
  font-size: 1.5rem;
  font-style: italic;
  line-height: 1.5rem;
  margin-bottom: 25px;
  font-family: "Droid Serif", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
header.masthead .masthead-heading {
  font-size: 3.25rem;
  font-weight: 700;
  line-height: 3.25rem;
  margin-bottom: 2rem;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}


.icon {
  width: 50px;
  height: 50px;
}

.features {
  float: left;
}

.modal-dialog {
  max-width: 750px;
}

.modal-header {
  float: left;
  display: block;
}

.port-box {
  padding-left: 0;
  padding-right: 0;
  margin: 2.5%;
}

.caption p{
  font-size: 20px;
  color: rgb(50, 50, 50);
}
.sectionBanner {
  letter-spacing: 6px;
  margin-bottom: 2.5%;
}

.thanks {
  border-radius: 15px;
  background-color: rgba(50, 50, 50, 0.9);
  font-size: 1.5rem;
}

#section2 {
  background: whitesmoke;
}

#section3 {
  background: lightsteelblue;
  font-family: "Montserrat", sans-serif;
}
#section4{
  color: white;
  padding-top:15%;
  padding-left:10%;
  padding-bottom:15%;
  height: 20%;
  background-image: url("pics/thanks.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 15px;
}

img:hover {
  opacity: 0.5;
  transition: 0.1s;
}

.fa-github {
  margin: 30px;
}

.fa-linkedin {
  margin: 30px;
}

@media (min-width: 768px) {
  header.masthead {
    padding-top: 17rem;
    padding-bottom: 12.5rem;
  }
  header.masthead .masthead-subheading {
    font-size: 2.25rem;
    font-style: italic;
    line-height: 2.25rem;
    margin-bottom: 2rem;
  }
  header.masthead .masthead-heading {
    font-size: 4.5rem;
    font-weight: 700;
    line-height: 4.5rem;
    margin-bottom: 4rem;
  }
}
